<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Tailwind CSS --}}
    <link rel="stylesheet" href="/vendors/tailwindcss/tailwind.min.css">
    {{!-- Main CSS --}}
    <link rel="stylesheet" href="/css/main.css">

    <title>{{ title }}</title>
</head>

<body class="relative">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <nav class="bg-white border-b-2 border-gray-200">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between py-4">
                <div class="flex items-center justify-center">
                    <div class="flex-shrink-0 flex items-center">
                        <a href="/" class="text-2xl font-bold text-green-500">Educa</a>
                    </div>
                    <div class="block ml-6">
                        {{#if user.isAuthenticated}}
                        <div class="flex space-x-1">
                            <a href="/"
                                class="text-gray-800 hover:text-green-500 px-3 py-2 rounded-md text-md font-medium"
                                aria-current="page">Dashboard</a>

                            <a href="/classes"
                                class="text-gray-800 hover:text-green-500 px-3 py-2 rounded-md text-md font-medium">Class</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="ml-3">
                    {{#if user.isAuthenticated}}
                    <div class="flex space-x-3">
                        <button type="button"
                            class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white-800 focus:ring-green-500"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-10 w-10 rounded-full" src="{{user.image}}" alt="">
                        </button>
                        <form action="/sign-out" method="post">
                            <button onclick="return confirm('Are you sure to sign out?')"
                                class="bg-red-500 text-white font-bold rounded-md py-2 px-3 block focus:ring-red-500 focus:ring-offset-2 focus:ring-2 outline-none">Sign
                                out</button>
                        </form>
                    </div>
                    {{else}}
                    <div class="flex space-x-1">
                        <a href="/sign-in"
                            class="bg-green-500 text-white font-bold rounded-md py-2 px-3 block focus:ring-green-500 focus:ring-offset-2 focus:ring-2">Sign
                            in</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>

    {{#if successMessage}}
    <div class="flex fixed top-3.5 right-3.5" id="notif">
        <div class="m-auto">
            <div class="bg-white rounded-lg border-gray-300 border p-3 shadow-lg">
                <div class="flex flex-row">
                    <div class="px-2">
                        <svg width="24" height="24" viewBox="0 0 1792 1792" fill="#44C997"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1299 813l-422 422q-19 19-45 19t-45-19l-294-294q-19-19-19-45t19-45l102-102q19-19 45-19t45 19l147 147 275-275q19-19 45-19t45 19l102 102q19 19 19 45t-19 45zm141 83q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z" />
                        </svg>
                    </div>
                    <div class="ml-2 mr-6 max-w-xs">
                        <span class="font-semibold text-green-500">{{successMessage}}</span>
                        {{!-- <span class="block text-gray-500">Anyone with a link can now view this file</span> --}}
                    </div>
                    <div class="cursor-pointer" id="hideNotif" data-target="#notif">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="#6b7280">
                            <path
                                d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if errorMessage}}
    <div class="flex fixed top-3.5 right-3.5" id="notif">
        <div class="m-auto">
            <div class="bg-white rounded-lg border-gray-300 border p-3 shadow-lg">
                <div class="flex flex-row">
                    <div class="px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="#ef4444">
                            <path
                                d="M9.172 16.242 12 13.414l2.828 2.828 1.414-1.414L13.414 12l2.828-2.828-1.414-1.414L12 10.586 9.172 7.758 7.758 9.172 10.586 12l-2.828 2.828z" />
                            <path
                                d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8z" />
                        </svg>
                    </div>
                    <div class="ml-2 mr-6 max-w-xs">
                        <span class="font-semibold text-red-500">{{errorMessage}}</span>
                        {{!-- <span class="block text-gray-500">Anyone with a link can now view this file</span> --}}
                    </div>
                    <div class="cursor-pointer" id="hideNotif" data-target="#notif">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="#6b7280">
                            <path
                                d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <div class="max-w-6xl min-h-screen mx-auto px-4 sm:px-6 lg:px-8 my-5">
        {{{ body }}}
    </div>

    <footer class="bg-white border-t-2 border-gray-200 py-7">
        <p class="text-center text-green-500 font-semibold">&copy; Copyright 2021, All Right Reserved.</p>
    </footer>

    {{!-- Main JS --}}
    <script src="/js/main.js" type="module"></script>
</body>

</html>